<!--[main]-->

 <div id="app">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
     <tr v-for="item in itens">
       <td>{{ item.id }}</th>
       <td>{{ item.name }}</td>
       <td>{{ item.email }}</td>
     </tr>
    </tbody>
  </table>  
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      titulo: 'Usando VueJS!',
      itens: []
    },

    created: function () {
    setInterval(this.atualiza, 5000);

  },

    methods: {
      
      saudacao: function () {
        return 'Boa semana!'
      },

      atualiza: function () {

        vm = this;
        axios.get('users')
          .then(function (response) {
            vm.itens = response.data;
            console.log(vm.itens);

          })
          .catch(function (error) {
            console.log(error);
          })

      }

    }
  })
</script>
<!--[/main]-->